.logo {
  display: block;
  font-family: "Raleway", "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: var(--accent);
  transition: color var(--transition-duration) var(--transition-timing);
  &:hover,
  &:focus,
  &:focus-visible {
    color: var(--accented-accent);
  }
  @include desktop {
    font-size: 26px;
    line-height: 1.19;
  }
}
.header__logo {
  @include tablet {
    margin-right: 88px;
  }
  @include desktop {
    margin-right: 93px;
  }
}
.footer__logo {
  margin-bottom: 20px;
  margin-right: 0;
}
.logo__accent {
  color: var(--secondary-txt);
  .footer & {
    color: var(--main-white);
  }
}
