.mob-menu {
  display: none;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  padding: 48px 40px;
  background-color: var(--main-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  &.is-open {
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }
  }
}
.is-open {
  overflow: hidden;
}
.mob-menu__nav {
  margin-bottom: auto;
}
.mob-menu__nav-item {
  margin-bottom: 32px;
}
.mob-menu__nav-link {
  font-weight: 500;
  font-size: 30px;
  @include mobile {
    font-size: 40px;
  }
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: var(--secondary-txt);
  transition: color var(--transition-duration) var(--transition-timing);
  &:hover,
  &:focus {
    color: var(--accent);
  }
}
.mob-menu__contact-list {
  margin-bottom: 64px;
  & li:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-menu__contact-tel {
  font-weight: 500;
  font-size: 24px;
  @include mobile {
    font-size: 34px;
  }
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: var(--accent);
}
.mob-menu__contact-email {
  font-weight: 500;
  font-size: 18px;
  @include mobile {
    font-size: 24px;
  }
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: var(--main-txt);
}
.mob-menu__socials {
  display: flex;
  align-items: flex-start;
  font-size: 10px;
  @include mobile {
    font-size: 14px;
  }
}
.mob-menu__network {
  color: var(--accent);
  transition: color var(--transition-duration) var(--transition-timing);
  &:hover,
  &:focus {
    font-weight: bold;
    color: var(--accented-accent);
  }
  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid var(--modal-input-border);
  }
  &:not(:first-child) {
    padding-left: 10px;
    border-left: 1px solid var(--modal-input-border);
  }
}
