body {
  font-family: var(--main-font);
  color: var(--main-txt);
  background-color: var(--main-white);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 60px;
  @include tablet {
    padding-top: 80px;
  }
  @include desktop {
    padding-top: 80px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
