.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.spec-section {
  padding-bottom: 94px;
}
.caption {
  background-color: var(--main-white);
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
}
.project-caption {
  padding: 20px 24px;
  border: 1px solid var(--border);
  border-top: none;
}
