.current {
  color: var(--accent);
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -39px;
    @include desktop {
      bottom: -34px;
    }
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent);
    transition: opacity var(--transition-duration) var(--transition-timing);
  }
}
.mob-current {
  color: var(--accent);
}
