@mixin generate-icons($icon-list) {
  @each $icon-name in $icon-list {
    .icon-#{$icon-name}::before {
      background-image: url(../images/icons/#{$icon-name}.svg);
    }
  }
}
@mixin mobile {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}
