.clients__title {
  @extend %section-title;
  margin-bottom: 30px;
  @include desktop {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
.clients__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
  @include desktop {
    flex-wrap: nowrap;
  }
}
.client__item {
  width: calc((100% - 2 * 30px) / 2);
  @include tablet {
    width: calc((100% - 3 * 30px) / 3);
  }
  @include desktop {
    width: calc((100% - 5 * 30px) / 6);
  }
  margin-right: 30px;
  margin-bottom: 30px;
}
.client__link {
  @extend %flex-centered;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--icon);
  color: var(--icon);
  transition: border var(--transition-duration) var(--transition-timing),
    color var(--transition-duration) var(--transition-timing);
  &:hover,
  &:focus {
    border: 1px solid var(--accent);
    color: var(--accent);
  }
}
.clients__icon {
  fill: currentColor;
  vertical-align: middle;
}
