.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 25px;
  @include tablet {
    justify-content: center;
    margin-bottom: 15px;
  }
  @include desktop {
    justify-content: center;
    margin-bottom: 35px;
  }
  *:focus-visible {
    outline-color: var(--accented-accent);
    outline-width: 1px;
  }
}
.filter-category {
  margin-bottom: 15px;
  &:not(:last-child) {
    margin-right: 8px;
  }
}
.projects-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
  *:focus-visible {
    outline: none;
  }
}
.project-item {
  width: 100%;
  @include tablet {
    width: calc((100% - 2 * 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 3 * 30px) / 3);
  }
  margin-right: 30px;
  margin-bottom: 30px;
}
.project-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow var(--transition-duration) var(--transition-timing);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.project-wrap {
  position: relative;
  overflow: hidden;
  background-color: var(--light-bg);
}
.project-desc {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-white);
  background-color: var(--project-hover);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 300ms var(--transition-timing),
    opacity 300ms var(--transition-timing);
  .project-link:hover &,
  .project-link:focus & {
    transform: translateY(0);
    opacity: 1;
  }
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--secondary-txt);
}
.project-type {
  font-size: 16px;
  line-height: 1.88;
}
